<title>Biometria</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    #menu a{
        color: rgb(255, 255, 255);
        background-color: #252525;
        padding-bottom: 2px;
        margin-bottom: 2px;
    }

    #menu a:hover{
        color: rgb(223, 231, 235);
        background-color: #252525;
        border-bottom: #00ff00 solid 2px;
    
    }
    .jumbotron.header{
        background-color: green;
        color: white;
        background-image: linear-gradient(green,#003300);
    }
</style>
  <div class="jumbotron header text-center">
      <h1>Biometria Digital </h1>
      <p>Paragrafo qualquer</p>
</div>

<div class="text-right">
    <a href="/logout/">SAIR</a>
</div>
<div id="menu">
    <ul class="nav ml-4 mb-4">
               <li class="nav-item">
            <a class="nav-link" href="/digital/user/">Minhas Digitais</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/digital/registro/">Cadastrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/digital/all/">Todas</a>
        </li>      
    </ul>
        
</div>
